/*  your css code here. If applicable */

.main-container{
	padding: 20px;
	background-color: #f5f5f5;
	
}
.testimonial{
	margin: 20px;
	border: 1px solid #cccccc;
	background-color: white;
	margin-bottom:16px;
}
.testimonial p {
  /* Add any desired normal styling for the testimonial text */
}

.author{
	text-align: right;
	font-style: italic;
}